AA
Bookythings
Code
DeadCode
Desktop
Documents
Downloads
Flacs
Food
Games
Music
Notes
Ork
phone
Pictures
podcasts
Scratch
.src-cache
TODO
tor
Untagged
Videos

#awful things that i hopefully dont use
.adobe/
.macromedia/
.Skype/

#passwords, security, keys, cookies
.clips
.esd_auth
.gnupg/
.gpg
.pki/
.ICEauthority
.pulse-cookie
wifi.conf
wifi-auto.conf
wvdial.conf
.Xauthority

#media, binaries, data
.icedove/
.mozilla/
.purple/
.thunderbird/

#state
.dbus/
.gksu.lock

#logs, history, caches
.local/
.cache/
fontconfig/
.fontconfig
.gstreamer-0.10/
.bash_history
.src-cache/
.viminfo
.vim/.netrwhist
.xsession-errors*
.xsel.log

#too volatile configs
.cabal-7.6.3/
.audacity-data/
.cabal/
.config/*
!.config/taffybar/
!.config/tpbattstat.conf
.FBReader/
fontconfig/
.fontconfig/
.fonts/
.gem/
.icedtea/
.lesshst
.java/
.klompcur
.klompdb
.klomphistory
.klomplist
.klomp-playlist
.gconf/
.gconfd/
.ghc/
.ghc-7.6.3/
.gimp*
.gnome2/
.libreoffice/
printers/
.pulse/
.sane/
.tor/
.vidalia/
.wine/
