[user]
	name = Michael Zuser
	email = mikezuser@gmail.com
[core]
	pager = less
[alias]
    a = add
	s = status
    c = commit
    d = diff
    ds = diff --staged
    r = reset
    rh = reset HEAD
    co = checkout
    b = branch
    m = merge --no-commit
    l = log --color --decorate --name-status -M
	unstage = reset HEAD
	vimdiff = difftool -y -t vimdiff
	meld = difftool -t meld
	graph = log --graph --oneline --color
	ignored = ls-files --others
[color]
    diff = true
	status = true
    log = true
[push]
	default = simple
[gui]
	gcwarning = false
