Desktop/
Downloads/*/
Code/
workspace/

#awful things that i hopefully dont use
.adobe/
.android/
.macromedia/
.Skype/
.nv/
.nvidia-settings-rc
.sqlplus_history
oradiag_*/diag/

#passwords, security, keys, cookies
MultiBit/
openvpn/
.acoustid
.aws/
.cyphertite/
.esd_auth
.gnupg/
.gpg
.pki/
.ICEauthority
.pulse-cookie
.secrets
.twip
wifi.conf
wifi-auto.conf
wvdial.conf
.Xauthority

#media, binaries, data
apps/
conf/
QtSDK/
.claws-mail/
.fceux/
.gtkpod/
.icedove/
.kodi/
.mozilla/
.pcsx/*
!.pcsx/pcsx.cfg
!.pcsx/plugins/
.pcsx/plugins/*
!.pcsx/plugins/*.cfg
.purple/*
!.purple/gtkrc-2.0
.rpmdb/
.subversion/
.squirrel-sql/
.thunderbird/
.Ticket to Ride/

#state
.armagetronad/
.aspell*
.dbus/
.cpu_governor
.gksu.lock
.hex-a-hop/
.n900-tmp-ip
.klomp/*
!.klomp/lib
.pperl/
.pulse-enabled
.smbc
.zenius

#logs, history, caches
*.log
*.sw?
apt-cache/
.local/
.m2/
.cache/*
!.cache/escapepod/
!.cache/podcastle/
!.cache/pseudopod/
.cache/escapepod/*
.cache/podcastle/*
.cache/pseudopod/*
!.cache/escapepod/downloads
!.cache/podcastle/downloads
!.cache/pseudopod/downloads
.dvdcss/
.kde/
.gstreamer-0.10/
.thumbnails/
.bash_history
.gnuplot_history
.gqlplus/
.lesshst
.recently-used
.sqlite_history
.src-cache/
.stepmania*/
.twipcache
.twiplog
.viminfo
.wget-hsts
.xsession-errors*

#too volatile configs
.audacity-data/
.cabal/
.config/*
!.config/backup.conf
!.config/feh/
!.config/gtk-3.0
!.config/iguana/
!.config/ipmagic/
!.config/livestreamer/
!.config/mpv/
!.config/pulse
.config/pulse/*
!.config/pulse/default.pa
!.config/taffybar/
!.config/tpbattstat.conf
!.config/vmpk.sourceforge.net/
!.config/zelda-classic
.cpan/
.cpanm/
.eclipse/
.FBReader/
.fltk/
fontconfig/
.fontconfig/
.fonts/
.gem/
.gitk
.icedtea/
.java/
.gconf/
.gconfd/
.gegl*
.ghc/
.ghc-7.6.3/
.gimp*/*
!.gimp*/plug-ins/
.gnome2/
.libreoffice/
.p2/
.pulse/
.quodlibet/
.tor/
.vidalia/
.wine/

