[user]
    name = Mike Zuser
    email = mikezuser@gmail.com
[core]
    pager = less
[alias]
    a = add
    s = status
    sta = status
    c = commit
    d = diff
    ds = diff --staged
    r = reset HEAD
    co = checkout
    b = branch
    m = merge --no-commit
    l = log --color --decorate --name-status -M
    lf = log --color --decorate --follow
    dn = pull --no-commit
    up = push
    unstage = reset HEAD
    stat = show --stat
    vimdiff = difftool -y -t vimdiff
    meld = difftool -t meld
    graph = log --graph --oneline --color --decorate
    ignored = ls-files --others
[color]
    diff = true
    status = true
    log = true
[push]
    default = simple
[gui]
    gcwarning = false
