[user]
	name = Michael Zuser
	email = mikezuser@gmail.com
[alias]
    a = add
	s = status
    c = commit
    d = difftool -y -t vimdiff
	stat = diff --stat
	unstage = reset HEAD
	vimdiff = difftool -y -t vimdiff
	meld = difftool -t meld
	graph = log --graph --oneline --color
	ignored = ls-files --others -i --exclude-standard
[color]
	status = true
[push]
	default = simple
