Code/
workspace/

#awful things that i hopefully dont use
.adobe/
.android/
.macromedia/
.Skype/

#passwords, security, keys, cookies
.esd_auth
.gnupg/
.pki/
.ICEauthority
.pulse-cookie
.twip
wifi.conf
wifi-auto.conf
wvdial.conf
.Xauthority

#media, binaries, data
apps/
conf/
Desktop/
openvpn/
.claws-mail/
.mozilla/
.purple/
.subversion/
.squirrel-sql/
.thunderbird/
.klompdb

#state
.dbus/
.cpu_governor
.gksu.lock
.n900-tmp-ip
.klompcur
.klomplist
.klomphistory
.zenius

#logs, history, caches
*.log
*.sw?
apt-cache/
.local/
.cache/
.dvdcss/
.gstreamer-0.10/
.thumbnails/
.bash_history
.lesshst
.sqlite_history
.stepmania*/
.twipcache
.twiplog
.viminfo
.xsession-errors*

#too volatile configs
.cabal/
.config/
.cpan/
.FBReader/
.fontconfig/
.fonts/
.icedtea/
.java/
.gconf/
.gconfd/
.gegl*
.ghc/
.gimp*
.gnome2/
.libreoffice/
.pulse/
.wine/

