<UserScriptConfig>
	<Script basedir="verizon_password" checkRemoteUpdates="1" dependhash="6e78129a0a44d6551c8c08f9b6d89fccdf4ae238" description="" enabled="true" noframes="false" filename="verizon_password.user.js" installTime="1328986568689" modified="1355847504000" name="verizon password" namespace="http://teleshoes.org" runAt="document-end" updateMetaStatus="unknown" uuid="6f33b27b-c3d3-4be9-9ca2-ed0200bfd04b" version="" installurl="null" updateurl="null">
		<Grant>none</Grant>
		<Include>http://192.168.1.1/*</Include>
		<Require filename="secret.js"/>
	</Script>
	<Script basedir="mohela_login" checkRemoteUpdates="1" dependhash="64b2ecbcbd5f8b05da9385ec4544e45e510b3016" description="" enabled="true" noframes="false" filename="mohela_login.user.js" installTime="1328986568691" modified="1355848445000" name="mohela login" namespace="www.teleshoes.org" runAt="document-end" updateMetaStatus="unknown" uuid="6128e5da-468e-404f-8b7f-d0bfb85307a0" version="" installurl="null" updateurl="null">
		<Grant>none</Grant>
		<Include>https://www.mohela.com/DL/secure/account/loginStep1.aspx</Include>
		<Require filename="secret.js"/>
	</Script>
	<Script basedir="uas_login" checkRemoteUpdates="1" dependhash="52ef30363f1dd3a5f2ce593a2e22e3b258440237" description="" enabled="true" noframes="false" filename="uas_login.user.js" installTime="1328986568692" modified="1355847340000" name="uas login" namespace="www.teleshoes.org" runAt="document-end" updateMetaStatus="unknown" uuid="a36f7a70-463b-48fc-aa08-b17723a1186a" version="" installurl="null" updateurl="null">
		<Grant>none</Grant>
		<Include>https://www.uasecho.com/</Include>
		<Require filename="secret.js"/>
	</Script>
	<Script basedir="mohela_login_step_2" checkRemoteUpdates="1" dependhash="91c8d05b02619b8fee3ca6809887f1463f487c5e" description="" enabled="true" noframes="false" filename="mohela_login_step_2.user.js" installTime="1328986568695" modified="1355848445000" name="mohela login step 2" namespace="mohela" runAt="document-end" updateMetaStatus="unknown" uuid="4ddb6e66-acbf-4eed-b84f-4a78efacafed" version="" installurl="null" updateurl="null">
		<Grant>none</Grant>
		<Include>https://www.mohela.com/DL/secure/account/loginStep2.aspx</Include>
		<Require filename="secret.js"/>
	</Script>
	<Script basedir="ups_tracking" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" noframes="false" filename="ups_tracking.user.js" installTime="1328986568698" modified="1325362075000" name="ups tracking" namespace="ups" runAt="document-end" updateMetaStatus="unknown" uuid="c9c6289a-d892-4c4f-8fea-c89148639807" version="" installurl="null" updateurl="null">
		<Grant>none</Grant>
		<Include>*ups.com*track*</Include>
	</Script>
	<Script basedir="flattr_login" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" noframes="false" filename="flattr_login.user.js" installTime="1332891978594" modified="1332892725000" name="flattr login" namespace="www.teleshoes.org" runAt="document-end" updateMetaStatus="unknown" uuid="b959f88a-07dd-4bab-9c86-e104c18e7fce" version="" installurl="null" updateurl="null">
		<Grant>none</Grant>
		<Include>https://flattr.com/login</Include>
	</Script>
	<Script basedir="multiverse" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="hide scenes from a multiverse header" enabled="true" noframes="false" filename="multiverse.user.js" installTime="1340688098107" modified="1340688525000" name="multiverse" namespace="www.teleshoes.org" runAt="document-end" updateMetaStatus="unknown" uuid="7ff647f0-9548-4bd9-9741-65664ffe7fdd" version="1" installurl="null" updateurl="null">
		<Grant>none</Grant>
		<Include>http://amultiverse.com/*</Include>
	</Script>
	<Script basedir="boltbus" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="sets up boston=&gt;ny" enabled="true" noframes="false" filename="boltbus.user.js" installTime="1347385020639" modified="1386809488000" name="boltbus" namespace="www.teleshoes.org" runAt="document-end" updateMetaStatus="unknown" uuid="087057ba-0355-4d62-951b-432c326157ae" version="1" installurl="file:///home/wolke/.mozilla/firefox/u07idbey.default/gm_scripts/boltbus/boltbus.user.js" updateurl="file:///home/wolke/.mozilla/firefox/u07idbey.default/gm_scripts/boltbus/boltbus.user.js">
		<Grant>metadata</Grant>
		<Include>https://www.boltbus.com/*?*</Include>
	</Script>
	<Script basedir="chase" checkRemoteUpdates="1" dependhash="58d047f57e3ea5b9c2bafdbcb43980efe2b27e3f" description="chase logon" enabled="true" noframes="false" filename="chase.user.js" installTime="1355845813035" modified="1355846311000" name="chase" namespace="chase" runAt="document-end" updateMetaStatus="unknown" uuid="0bba2e8f-3487-4e7c-a6f1-c5ba3ba10654" version="" installurl="file:///home/wolke/.mozilla/firefox/u07idbey.default/gm_scripts/chase/chase.user.js" updateurl="file:///home/wolke/.mozilla/firefox/u07idbey.default/gm_scripts/chase/chase.user.js">
		<Grant>none</Grant>
		<Include>https://chaseonline.chase.com/Logon*</Include>
		<Require filename="secret.js"/>
	</Script>
	<Script basedir="github-username" checkRemoteUpdates="1" dependhash="1b01b0ccc70358e893d1edcab6c235fb11450f3e" description="" enabled="true" noframes="false" filename="github-username.user.js" installTime="1401550307000" modified="1435079488000" name="github-username" namespace="teleshoes" runAt="document-end" updateMetaStatus="unknown" uuid="77ef05fc-c1aa-4217-89e5-6e45215b71f0" version="1" installurl="file:///home/wolke/greasemonkey/github-username/github-username.user.js" updateurl="file:///home/wolke/greasemonkey/github-username/github-username.user.js">
		<Grant>none</Grant>
		<Include>https://github.com/*</Include>
		<Require filename="secret.js"/>
	</Script>
</UserScriptConfig>