@import url("taffybar-profile.css");

/** default colors */
.taffy-window > * {
  color: @textColor;
  background-color: @bgColor;
}

/** tweaks for large chars */
.Klomp,
.PingMonitor > * {
  margin-top: -3px;
}

/** window title button */
.windows {
  padding: 0;
  border: none;
}
.windows > * {
  text-shadow: none;
  color: @textColor;
  background-color: @bgColor;
}

/** workspace icons hack */
.contents {
  padding-top: 9px;
  padding-bottom: 9px;
}

/** workspace borders */
.contents {
  border: 2px solid;
}

.active .contents,
.visible .contents {
  border-color: @wsBorderColorActive;
}
.urgent .contents,
.empty .contents,
.hidden .contents {
  border-color: @wsBorderColorNormal;
}

/** workspace labels */
.active > * > * > .workspace-label,
.visible > * > * > .workspace-label {
  font-weight: bold;
  color: #002b36;
  background-color: #eee8d8;
}
.hidden > * > * > .workspace-label {
  font-weight: bold;
  color: orange;
}
.urgent > * > * > .workspace-label {
  font-weight: bold;
  color: #002b36;
  background-color: red;
}
.empty > * > * > .workspace-label {
}
