@import url("taffybar-profile.css");

.taffy-window > * {
  color: @textColor;
  background-color: @bgColor;
}

.Klomp,
.PingMonitor > * {
  margin-top: -3px;
}

/** window title button */
.windows {
  padding: 0;
  border: none;
}
.windows > * {
  text-shadow: none;
  color: @textColor;
  background-color: @bgColor;
}

/** workspace icons */
.contents {
  padding-top: 9px;
  padding-bottom: 9px;
}

/** workspace borders */
.active > box,
.visible > box,
.urgent > box,
.empty > box,
.hidden > box {
  border: 2px solid;
}

.active > box,
.visible > box {
  border-color: @wsBorderColorActive;
}
.urgent > box,
.empty > box,
.hidden > box {
  border-color: @wsBorderColorNormal;
}

/** workspace labels */
.active > * > * > .workspace-label,
.visible > * > * > .workspace-label {
  font-weight: bold;
  color: #002b36;
  background-color: #eee8d8;
}
.hidden > * > * > .workspace-label {
  font-weight: bold;
  color: orange;
}
.urgent > * > * > .workspace-label {
  font-weight: bold;
  color: #002b36;
  background-color: red;
}
.empty > * > * > .workspace-label {
}
