@import url("taffybar-profile.css");

.Taffybar > * {
  color: @textColor;
  background-color: @bgColor;
}

.Windows > * {
  border: none;
  padding: 0px 2px 0px 0px;
  background-color: @bgColor;
}

.Klomp,
.PingMonitor > * {
  margin-top: -3px;
}

/** workspace icons */
.Contents {
  padding-top: 9px;
  padding-bottom: 9px;
}

.Active > box,
.Visible > box {
  border: 2px solid @wsBorderColorActive;
}
.Urgent > box,
.Empty > box,
.Hidden > box {
  border: 2px solid @wsBorderColorNormal;
}

/** workspace labels */
.Active > * > * > .WorkspaceLabel,
.Visible > * > * > .WorkspaceLabel {
  font-weight: bold;
  color: #002b36;
  background-color: #eee8d8;
}
.Hidden > * > * > .WorkspaceLabel {
  font-weight: bold;
  color: orange;
}
.Urgent > * > * > .WorkspaceLabel {
  font-weight: bold;
  color: #002b36;
  background-color: red;
}
.Empty > * > * > .WorkspaceLabel {
}
