@import url("taffybar-profile.css");

window {
  color: @textColor;
  background-color: @bgColor;
}

.Active > box,
.Visible > box {
  border: 2px solid @wsBorderColorActive;
}
.Urgent > box,
.Empty > box,
.Hidden > box {
  border: 2px solid @wsBorderColorNormal;
}
