@import url("taffybar-profile.css");

window {
  color: @textColor;
  background-color: @bgColor;
}

#WindowSwitcher > * {
  border: none;
  padding: 0px 2px 0px 0px;
  background-color: @bgColor;
}

.Klomp,
.PingMonitor {
  margin-top: -3px;
}

.Active > box,
.Visible > box {
  border: 2px solid @wsBorderColorActive;
}
.Urgent > box,
.Empty > box,
.Hidden > box {
  border: 2px solid @wsBorderColorNormal;
}
