.scrollbar,
scrollbar {
  -GtkScrollbar-has-backward-stepper: true;
  -GtkScrollbar-has-forward-stepper: true;
  -GtkRange-stepper-size: 13;
  -GtkRange-slider-width: 15;
}

.scrollbar.vertical slider,
scrollbar.vertical slider {
  min-width: 10px;
}

.scrollbar.horizontal slider,
scrollbar.horizontal slider {
  min-height: 10px;
}
