.scrollbar,
scrollbar {
  -GtkScrollbar-has-backward-stepper: true;
  -GtkScrollbar-has-forward-stepper: true;
  -GtkRange-stepper-size: 13;
  -GtkRange-slider-width: 15;
}

/* fixes bug in Clearlooks-Phenix
 * where clicking right edge of slider warp-scrolls
 * instead of grabbing slider
 */
.scrollbar.vertical trough,
scrollbar.vertical trough {
  border-width: 1px 0px 2px 1px;
}

.scrollbar.vertical slider,
scrollbar.vertical slider {
  min-width: 10px;
}

.scrollbar.horizontal slider,
scrollbar.horizontal slider {
  min-height: 10px;
}
